.description {line-height: 1.5; margin-bottom: 10px;}
.ck-editor {line-height: 1.5;}
.ck-editor p {margin: 10px 0;}
.editor .ck-editor p {margin: 0;}
.ck-editor ul, .ck-editor ol {padding: 0 0 0 20px; list-style: inherit}
.ck-editor ol li {list-style-type: decimal;}
.rating {margin: 10px 0 20px;}
.table-default {max-height: 10.6em;}
#banner-popup {max-width: 650px; margin: auto;}
.ticket {display: none;}
.ticket.active {display: block;}
/* fix facebook like */
.fb-like {overflow: hidden; display: inline-block;}
#login-page {background: url(../images/login.jpg) no-repeat; height: 801px; max-width: 845px; margin: 20px auto;}
#login-page .content {padding: 465px 20px 0}
#login-page .tab-content {background: #fff; border: 2px solid #ff8000; height: 260px;}