.booking-form ul{
    padding: 20px 13px;
}
.booking-form li{
  overflow: hidden;
  margin: 22px 0;
}
.select-default{
  background: white;
  position: relative;
  width: 100%;
  height: 48px;
}
.select-default select{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 5;
    height: 100%;
}
.select-default span{
    display: block;
    color: #969494;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 46px;
    padding: 0 10px;
    margin-right: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.select-default:before,
.select-default:after{
  content:"";
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 100%;
}
.select-default:after{
  background-color: #05508C;
  z-index: 2;

}
.select-default:before{ 
 
  background-position:  center center;
  background-repeat: no-repeat;
  z-index: 3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.select-default:hover:before{ 
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.select-default.select-film:before{
  background-image: url('../images/icon-1.png');
}
.select-default.select-cinema:before{
  background-image: url('../images/icon-2.png');
}
.select-default.select-date:before{
  background-image: url('../images/icon-3.png');
}
.select-default.select-time:before{
  background-image: url('../images/icon-4.png');
}
.option-custom{
    position: absolute;
    top: 645px;
    left: 857px;
    width: 282px;
    z-index: 2051;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.7);
}
.option-custom ul{
    background-color: white;
    overflow: hidden;
}
.option-custom li{
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
    font-size: 1.1rem;
    padding: 0 10px;
    cursor: pointer;
}
.option-custom li a:hover{ color: white;}
.option-custom li:hover{
    background-color: #ff6e1d;
    color: white;
}
.option-custom.smaller{
    width: 150px;
}
.option-custom.select-year{}
.option-custom.smaller li{
    line-height: 1.7rem;
    font-size: .9rem;
    padding: 0 5px;
}
.header-top .select-default{
  float: left;
  margin: 8px 0;
}
.select-default.medium,.option-custom.medium {
  width: 11rem;
}
.select-default.medium{ height: 1.5rem; }

.title + .select-default.medium,
.select-default.medium + .select-default.medium{
    margin-left: 23px;
}
.select-default.medium span{
  line-height: 1.5;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 25px;
}
.select-default.medium:before, .select-default.medium:after{
  width: 24px
}

.select-default.medium:before{
  background-image: url('../images/arrow.png');
}
.select-default.medium:hover:before{
  background-image: url('../images/arrow.png');
  -webkit-transform: none;
  transform: none;
  margin-top:2px 
}
.select-default.medium:after{
  background-color: #ff5c01;
}
.select-default.medium span:before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 100%;
  background: white;
}

.option-custom.medium li,
.option-custom.width-2 li,
.option-custom.width-3 li{
  line-height: 25px;
  font-size: 1rem
}
.option-custom li a{
  display: block;
}
.select-wrap{
  float: right;
}
.select-wrap label{
  float: left;
  line-height: 24px;
  color: white;
  text-transform: uppercase;
  padding-right: 10px;
  margin-top: 9px;
}
.width-1{
  width: 80px!important;
}
.select-default.width-2,
.option-custom.width-2{
  width: 14rem;
}
.select-default.medium.width-3,
.option-custom.width-3 {
  width: 8rem;
}
.option-custom.large{ width: 352px}
.btn-buy{
  background: #05508C url('../images/icon-dollar.png') no-repeat 12px center;    
  width: 100%;
  text-transform: uppercase;    
  text-align: center;    
  font-size: 2.9rem; 
  font-weight: bold;    
  padding: 7px 5px 10px 73px;
  color: white;
  outline: none;
  border-radius: 0; /*fix for device*/
  background-size: 17.5%;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.btn-buy.btn-inline, #booking-cont .btn-buy, #ticket-booking-modal .btn-buy{
  font-size: 1.5rem;
  background-size: 17%;
  width: auto;
  padding: 8px 12px 8px 50px;
  background-position: 10px center;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
.desktop .btn-buy:hover{
  background-size: 15%;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  letter-spacing: -1px

}
.play{
  background: #05508C url('../images/icon-play.png') no-repeat 3px center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
.buy{
  background: #05508C url('../images/icon-dollar.png') no-repeat 3px center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.film-intro .buy{
  position: absolute;
  bottom: 7px;
  right: 14px;
  padding: 4px 5px 3px 22px;
  font-size: .75rem;
  background-size: 14px;
}
.btn-medium{
    background-size: 23%;
    font-size: 13px;
    background-color: #05508C;
    padding: 6px 10px 6px 30px;
    margin: 13px;
    display: inline-block;
    box-shadow: 1px 1px 4px black;
    text-transform: uppercase;
}
.none-ico{
    padding-left: 8px;
    font-weight: bold;
}
.desktop .btn-medium:hover,
.desktop .buy:hover{
  -webkit-animation: hvr-wobble-top 1s infinite;
  animation: hvr-wobble-top 1s infinite;
  background-color: #05508C;
  color: black;
}
#sidebar .booking-form li{
    margin: 5px 0;
}
#sidebar .booking-form{
    background-color: white;
    padding: 0 0 10px;
}
#sidebar .booking-form .select-default{
    height: 23px;
    border: 1px solid #05508C;
}
#sidebar .select-default span{
    font-size: 1em;    
    line-height: 23px;
    color: black;
    padding: 0 5px;
    margin-right: 23px;
}
#sidebar .select-default:before,
#sidebar .select-default:after{
    width: 23px;
    background-size: 69%;
}
#sidebar .btn-buy{
    font-size: 1rem;
    display: inline-block;
    width: auto;
    padding: 4px 5px 5px 25px;
    background-position: 4px center;
}

.apply-form .form-group{
    overflow: hidden;
    padding: 3px 0;
}
.apply-form label{
    float: left;
    color: #ff8000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    width: 7rem;
    text-align: right;
    margin-right: 1rem;
    line-height: 3rem;
}
.apply-form input:not([type="submit"]), .apply-form textarea{
    width: 100%;
    padding: 0 15px;
    margin: 0;
    height: 2.8rem;
    font-size: 1rem;
    box-sizing: border-box;
}
.apply-form textarea{
    height: 8rem;
    padding: 5px 15px;
}
.apply-form .input-wrap{
    border: 1px solid #d8d8d8;
    background-color: white;
    overflow: hidden;
    min-height: 2.8rem;
}
.apply-form .upload-file{
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;
}
.apply-form .upload-file input{ opacity: 0;position: absolute; top: 0; left: 0; padding: 0; font-size: 2rem; cursor: pointer; /* height: 6rem; */}
#ticket-booking-modal .select-default{ height: 45px}
#ticket-booking-modal .select-default span{ line-height: 45px}


.input-general{
    padding: 4px 10px;
    outline: none;
    margin-left: 10px;
    border: 1px solid #d8d8d8;
}