#login .modal-content {
  padding: 465px 20px 0;
}
#login .modal-body {
  padding: 15px;
  text-align: center;
  line-height: 1.5;
  display: table;
  width: 100%;
  padding: 3rem 0;
}
#login .modal-body .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 50vh;
    text-align: center;
}
.nav-tabs {
 overflow: hidden;
 margin: 0 9px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    position: relative;
}
.nav-tabs>li>a {
  line-height: 60px;
  margin-left: -11px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 140px;
  height: 54px;
  display: inline-block;
  background: url(../images/crm/btn1.png) center 0 no-repeat;
  text-align: center;
  font-size: .9rem;
}
.nav-tabs>li:first-child >a{
    margin-left: 0;
}
.nav-tabs>li:nth-child(1){ z-index: 7}
.nav-tabs>li:nth-child(2){ z-index: 6}
.nav-tabs>li:nth-child(3){ z-index: 5}
.nav-tabs>li:nth-child(4){ z-index: 4}
.nav-tabs>li:nth-child(5){ z-index: 3}
.nav-tabs>li:nth-child(6){ z-index: 2}
.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd
}
.nav-tabs>li > a:focus,
.nav-tabs>li > a:hover {
  background-image: url(../images/crm/btn.png) ;
  color: black;
}
.nav-tabs>li.active>a{
  background-image: url(../images/crm/btn.png);
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0
}
.nav-tabs.nav-justified>li {
    float: none
}
.nav-tabs.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center
}
.nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto
}
#login .tab-content{
  border: 2px solid #ff8000;
  background: rgba(255, 255, 255, 0.95);
  overflow: hidden;
  height: 260px;
  margin-top: -5px;
  position: relative;
  z-index: 10;
}
.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    display: block
}

#login .modal-dialog{
  background: url('../images/login.jpg') no-repeat;
  width: 95%;
  max-width: 845px;
  height: 801px;
  background-size: 100%;
}


.crm-form .box{
  margin-top: 15px;
  padding-top: 0px;
  padding: 0 8%;
  color: silver;
}
.crm-form .box-login{
    width: 50%;    float: left;
    /* padding: 0 20px 0 60px; */
}
.crm-form a{
/*   color: silver;
  font-size: 11px; */
}
/* .crm-form a:hover{text-decoration: underline;} */
.crm-form .btn3{
  margin: 12px 12px 15px 0;
  height: 38px;
  display: block;
  color: white;
  background: #1468A9;
  line-height: 38px;
  border: 1px solid #146BAD;
  display: block;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  float: left;
  padding: 0 12px;
}

.crm-form .btn3:hover{
  color: white;
  background: #146BAD;
  border-color: #1468A9;
  text-decoration: none;
}

.crm-form .btn3:active{
  background: #146BAD;
  border-color: #1468A9;
}

.crm-form .box-title{
  font-size: 18px;
  height: 20px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  line-height: 24px;
}

.crm-form .box-title > span, .crm-form .box-title > span > span{
  border: none;
}

.crm-form .box-content{
  /* width: 280px; */
  margin-top: 10px;
}

.crm-form .box-title>span{
  border-color: #ff8000;
  border-bottom-width: 3px;
  height: 20px;
  line-height: 18px;
}

.crm-form .box-social{
  border-left: 1px solid #e8e8e8;
  overflow: hidden;
}

.crm-form .box-login .j-textbox, #contactform-verifycode {
  width: 100%;
  background: url('../images/crm/user.png') 94% center no-repeat;
  border: 1px solid #d8d8d8;
  height: 37px;    
  padding: 2px 15px;
  outline: none;
  background-color: #fff;
  color: #000;
}

#contactform-verifycode-image {
  margin-bottom: 8px;
}

.crm-form .box-login .j-textarea{
  width: 100%;
  border: 1px solid #d8d8d8;
  padding: 15px;
  outline: none;
  background-color: #fff;
  color: #000;
}

.crm-form .box-login #txtPassword{
  margin-top: 15px;
  margin-bottom: 15px;
  background: url('../images/crm/locked.png') 94% center no-repeat;
}
.crm-form .lbl{
  text-align: center;
  margin-bottom: 15px;
}

.crm-form div.lbl{
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 10px;
  white-space: nowrap;
}

.crm-form .lbl-line{
  font-size: 14px;
  text-align: center;
  height: 1px;
  background: silver;
  margin-top: 5px;
  margin-bottom: 20px;
}

.crm-form .lbl-line .lbl{
  display: inline-block;
  background: white;
  padding: 5px;
  margin-bottom: 0px;
  margin-top: -15px;
}

.crm-form .fb-login{
  position: relative;
  height: 40px;
  /* width: 240px; */
  background: #3b5998;  
  line-height: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding-left: 40px;
  text-align: center;
}

.crm-form .fb-login:hover{
  color: silver;
}

.crm-form .fb-login .icon{
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 39px;
  height: 40px;
  border-right: 1px solid #354f88;
  background: #3b5998;
  text-align: center;
}

.crm-form .fb-login .icon img{
  height: 60%;
}


.crm-form .plus-login{
  margin-top: 15px;
  position: relative;
  height: 40px;
  /* width: 240px; */
  background: #df4a32;
  line-height: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding-left: 40px;
  text-align: center;
}

.crm-form .plus-login:hover{
  color: silver;
}

.crm-form .plus-login .icon{
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 39px;
  height: 40px;
  border-right: 1px solid #c1402b;
  background: #df4a32;
  text-align: center;
}

.crm-form .plus-login .icon > img{
  height: 60%;
}

.crm .j-scrollbar{
  max-height: 254px;
  min-height: 254px;
}

.crm-600 .box-social{
  margin-left: 30px;
}

.crm-600 .crm-form .btn3{
  width: 240px;
  margin-bottom: 10px;
  height: 28px;
  line-height: 28px;
}

.crm-600 .ui-button-text, .crm-600 .action-btns a{
  font-size: 11px;
  vertical-align: top;
}

.crm-600 .crm-form .fb-login{
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  width: 212px;
  font-size: 13px;
}

.crm-600 .crm-form .fb-login .icon{
  height: 30px;
  width: 30px;
}

.crm-600 .crm-form .plus-login{
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  width: 212px;
  font-size: 13px;
  margin-top: 10px;
}

.crm-600 .crm-form .plus-login .icon{
  height: 30px;
  width: 30px;
}

.action-btns input[type=checkbox] + label {
  color: black;
  outline: none !important;
  float: left;
  border: none;
  padding-left: 22px;
  background: url('../images/crm/check2.png') 2px center no-repeat;
  font-size: 13px;
} 

.action-btns input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
  background: url('../images/crm/checked2.png') 2px center no-repeat;
} 

.action-btns .check.ui-state-focus{
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.action-btns {
  position: relative;
  width: 100%;
  float: left;
}

.action-btns > *{
  line-height: 21px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}
.crm-faq {
  padding-bottom: 20px;
}

.crm-faq-name {
  color: #d77218;
  font-weight: bold;
}

.crm-faq-num {
  padding-right: 20px;
}

.scroll-cont{
  overflow: auto;
  max-height: 255px;
  padding: 10px;
  font-size: .9rem;
  line-height: 1.4;
  color: black;
}
.scroll-cont .crm-faq ul{
    list-style-type: disc;
    margin-left: 3rem;
}
.scroll-cont::-webkit-scrollbar {
    width: 5px;
    background-color: #ddd;
}
.scroll-cont::-webkit-scrollbar-thumb {
  background-color: #ff8000;
}
.scroll-cont.middle-block{ display: table; height: 255px; width: 100%;}
.scroll-cont.middle-block .inner{ display: table-cell; vertical-align: middle; text-align: center;}
.title-black{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 0 1.5rem;
}
.condition-list > li{
  list-style-type: decimal;
  margin-left: 2rem;
  padding-bottom: 1rem;
}

.condition-list > li li{
  list-style-type: disc;
}
.control-label {
  margin-bottom: 8px;
  display: block;
  margin-top: 12px;
  color: #fff;
}
#btnForgot {
  margin-left: 5px;
}