
body *{ max-height: 99999px}

.hide-xs{
  display: none!important;
}

.container{
  width: 96%;
}
#banner .control.next{ right: 0}
.carousel .caption p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 6.5em;
}
#footer .social{ margin: 1rem 0 4rem}
#quick-booking{
  text-align: center;
  background-color: white;
  border-top: 2px solid #ffac0a;
  width: 4rem;
  height: 4rem;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}
#quick-booking:not(.active){
  box-shadow: 0px 0px 15px black;
  overflow: hidden;
}
#quick-booking .text{
    color: #ff5c01;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 4rem;
    font-size: 2.2rem;
    font-family: Tahoma, sans-serif;
}
#quick-booking .text:before{ 
  content:"";
  background: url('../images/icon-dollar.png') no-repeat;
  width: 2.5rem;
  height: 2.5rem;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle; 
  margin-right: 10px;
  margin-top: -0.4rem;
}

#quick-booking .icon-click{
  background: white;
  color: #ff5c01;
  display: block;
  width: 4rem;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
#quick-booking .icon-click:before{
  content: ">>";
  font-family: Tahoma;
  font-size: 2.5rem;
  letter-spacing: -0.4rem;
  line-height: 1.5em;
}
#quick-booking.active{
  width: 100%;
}


#quick-booking.active .icon-click{
  background: #ff5c01;
  color: white;
}
#quick-booking.active .icon-click:before{
  content: "<<";
}

#booking-cont{
    position: fixed;
    bottom: 4rem;
    z-index: 2001;
    left: 0;
    right: 0;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}
#booking-cont.active{
  max-height: 30rem;
}
#booking-cont .inner{
  background-color: white;
  padding: 2rem 4rem;
  border-top: 2px solid #ffac0a;
}
#booking-cont .select-default{
    box-shadow: inset 0 0 7px rgba(0,0,0,0.5);
}
#booking-cont .close{
  color: #ffab06;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1.2rem 1.5rem;
}

#likeFb{
  margin: 0;
  left: auto;
  right: 0;
}
#header .container{
  height: 100px;
  padding: 30px 0;
}

#header .logo{
  margin-top: -17px;
}
#header .inner{
  position: absolute;
  right: 0;
  z-index: 10;
  top: 100px;
  width: 310px;
  background: #3a3a3a;
  margin-right: -100%;
  font-size: 1em;
}
.icon-menu{
  float: right;
  background: url('../images/icon-menu.png') repeat;
  width: 37px;
  height: 24px;
  display: block;
  margin: 7px 0;
  font-size: 0;
}
.search-form{
  display: block;
  padding: 8px;
  background: linear-gradient(to top, #ec7000, #ff9600);
  position: relative;
  overflow: hidden;
}
.search-form input[type="text"]{
    width: 100%;
    padding-right: 38px;
}
.search-form input[type="submit"]{
    position: absolute;
    top: 6px;
    right: 8px;
    height: auto;
    bottom: 6px;
    
}
#header .inner{
 -webkit-transition: all .5s;
  transition: all .5s;
}
#header .inner.active{
  margin-right: 0;
}
#header nav{
  margin: 0;
}
#header nav > ul > li{
  display: block;
  border-top: 1px solid;
}
#header nav > ul >  li a {
    font-weight: bold;
    text-align: right;
    padding: .8em 18px;
    font-size: 1.1em;
}
#header nav .submenu{
  position: static;
}
#header nav li.active .submenu{ display: block;}
.sub-1{ background: #2c2c2c; border: none; box-shadow: none; font-size: 1rem;}
.sub-1 > li{
  text-align: right;
  border: none;
  line-height: normal;
  border-top: 1px solid black;
}
#header nav .sub-1 > li >a{
  color: white;
  display: block;
}

.lang{
  padding: 20px 0;
  text-align: center;
}
.lang li{
    color: white;

}
.banner{
    height: auto;
}
.carousel{
}
.carousel .control{
    top: 160px;
}

.list-events li{
    width: 640px;
    overflow: hidden;
}
.carousel .cont{
    width: 100%;
}
.carousel .cont iframe{
}
.carousel .caption{
    white-space: normal;
    position: static;
    width: 100%;
    padding: 25px 20px 14px 28px;
    overflow: hidden;
}
.caption .desc{
    float: left;
    width: 75%;
    height: 132px;
    margin: 0;
}
/*.film-intro .thumb{
  height: auto;
}*/
.list-btn{
    text-align: right;
}
.banner .btn-medium{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    padding: 9px 10px 9px 25px;
    width: 87px;
}
.banner .btn-medium.none-ico{
  padding: 10px;
  width: auto;
}
.banner .slick-dots{
  width: 100%;
  bottom: 183px;
}
.left-content{
  float: none;
  width: 96%;
  margin: 0 auto;
}
.others:before{
  content:none;
}
.others .cont{
    padding-right: 0;
}
section header{
  text-align: center;
}

.list-item-slide li{
  overflow: hidden;
  width: 640px;
}
.left-content .inner{
  float: none;
  max-width: 640px;
  margin: 0 auto;
  width: auto;
}
.right-content .inner, .left-content{
  width: 96%;
  margin: 0 auto;
}
#footer nav li a {
  line-height: 2rem;
}
.all-films .tab-content{
  width: 100%
}


#sidebar{ display: none;}
#content{ padding:0;}
#content:after{
  content: none;
}
.table-default tr td.col-space{ display: none;}
.others .title{ float: none;}

.arrow-left{
  float: none;
  overflow: hidden;
  padding-right: 0;
  width: auto;
  padding-bottom: 16px;
  margin-bottom: 1rem;
}
.arrow-left:before{
  background: url(../images/arrow-shadow-bot.png) 0 bottom no-repeat;
  left: auto;
  top: auto;
  right: 1rem;
  bottom: 1px;
  width: 26px;
  height: 16px;
}
.showtime-items li:nth-child(6){
  border-left: 1px solid #680f10;
  padding: 0 10px;
}

.cinema-items{
  top: 0;
  bottom: auto;
  right: 0;
  background: none;
  max-width: 50%;
}
.cinema-items li{ padding: 4px 0}
.cinema .btns .btn-medium{
    margin-left: 0;
    margin-right: 0;
  }
  .cinema .btns .btn-medium:first-child{ margin-right: 10px}
.cinema-left{
  width: 267px;
}
.cinema-right{
  clear: both;
  padding: 0
}

.ticket .cinema-left{
  float: none;
  overflow: hidden;
  width: auto;
  padding: 0 0 20px;
}
.ticket .cinema-title{ float: left;}
.cinema-ticket{ float: right;}
.slide-simple.four-thumbs .slide-item{ height: 170px}
.modal-dialog{ width: 100%}
#trailer-modal .modal-dialog{ width: 90%}
#login .modal-dialog{ height: auto}
#login .modal-content{
  padding: 385px 10px 0
}
.nav-tabs{ margin: 0}
.nav-tabs>li>a{
  width: 130px;
  height: 48px;
  line-height: 50px;
  font-size: .8rem;
  background-size: 100%;
}
.nav-tabs>li:first-child >a{ width: 110px}
.header-top{ overflow: hidden; padding-bottom: 15px ;}
.select-default.medium span:before{ content: none;}
.title + .select-default.medium{ margin-left: 0}


.select-wrap label{ display: none;}
.filter-1 .select-default{ float: right;}
.filter-5-list{ text-align: center;}
.filter-5-list .select-default,.filter-5-list .select-wrap{
   display: inline-block;
}
.filter-group{ clear: both; display: none;}
.filter-group .select-default{
  width: 100%!important;
  margin-left: 0!important;
}
.select-default.medium.filter-tag:before{
  content: "+";
  font-size: 20px;
  background: none;
  font-weight: lighter;
  line-height: 17px;
}
.filter-5-list .select-wrap{ margin-left: 23px}
.tab-header-1.larger + .inner .thumbnails .col-4 > a{
  height: 260px;
}
.wrap-404 .thumbnails a{ height: 260px}
.crm-form .box{
    padding: 0 3%;
}
@media (min-width: 767px){
  .showtime-items li:nth-child(13n){
    padding-left: 0;
    border: none;
  }
  .film-info .thumb{ width: 35%}
  .filter-2-list .select-default{ float: right; margin-left: 20px;}

}
@media (max-width: 767px){
  .tab-header-1.larger {
    font-size: .9em;
  }
  
  #apply .modal-dialog{
    width: 640px;
  }

}
@media (max-width: 700px){
  html{ font-size: 20px}
  .select-wrap label{ display: none;}
  
  .others figure > a{
    margin-top: 5px;
    width: 200px;
    height: 260px;
  }
  .header-top .select-default{ margin: 25px 0 0}
  .header-top .view-more-2{ margin-top: 22px}
  .nav-tabs{
    margin: 0;
  }
  .nav-tabs>li>a {
      width: 104px;
      height: 38px;
      font-size: .4rem;
      line-height: 43px;
      background-size: cover;
  }
  .nav-tabs >li:nth-child(1) >a{ width: 77px;}

  .nav-tabs >li:nth-child(5) >a, .nav-tabs >li:nth-child(6) >a{width: 114px;}


  #login .modal-content{ padding-top: 248px;}
  .film-info .thumb, .film-info.detail .thumb, .list-item.list-3 figure > a{
      width: 70%;
      float: none;
      text-align: center;
      margin: 0 auto;
 }
  
  #footer .container{ max-width: 100%}
  #footer nav li{
      padding: 2px 13px;
  }
  #footer nav li a{
    font-size: .95rem;
    line-height: 1.5;
  }

  .cinema-items li.active a {
    text-align: right;
    line-height: 1;
    white-space: normal; 
  }
  .cinema-items li:last-child.active a{ line-height: 1.3; }

  .list-item li{
    padding: 62px 0;
    border-bottom: 2px solid white;
    background: none
  }
  .list-item figure > a{
    width: 70%;
    /* height: auto; */
    float: none;
    display: block;
    margin: 0 auto 1rem;
  }
  .list-item.list-3 figure > a{ display: block; margin-bottom: 20px }
  .list-item.list-3 .book-now{ float: none; display: inline-block; margin-bottom: 1rem}
  .list-item.list-3 .title-group h3{ text-align: center; float: none;}
  .paging{ text-align: center;}
  .paging > a, .paging li{ margin: 0 3px}
  .paging > a:before{ transform: scale(1.5);}
  #apply .modal-content{ width: 95%}
  .showtime-items li:nth-child(7n+1){ border: none; padding-left: 0}
  .filter-list .select-default{
    float: none;
    width: 80%!important;
    margin-left: auto!important; 
    margin-right: auto; 
  }
  .filter-list .select-wrap{ float: none;}
  .table-default.music{font-size: 16px}
  .table-default.music tr td:nth-child(2){width: 36%}
  .filter-2-list .select-default,.filter-2-list .select-wrap{ width: 48%;}
  .filter-2-list > .select-default{margin-right: 2% ;}
  .filter-2-list .select-wrap .select-default,
  .filter-1 .select-default{ width: 100%}
  .select-default.medium { height: 2rem}
  .select-default.medium span{ line-height: 2rem}
  .thumbnails:not(.related-thumbs) .col-4{width: 46%;  margin: 0 2%; height: 29.5rem;overflow: hidden;}
  #booking-cont .inner{
    padding: 1rem 4rem .5rem;
  }
  #booking-cont .booking-form ul{
    padding: 0;
  }
  #booking-cont .btn-buy{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  .tab-header-1.larger {
    font-size: .55em;
  }

  .film-info.detail + .tab-header-1 h2{ font-size: 1.6rem; }
  .film-info.detail + .tab-header-1 li a{font-size: 1rem; }
  .film-info.detail + .tab-header-1 li.active a{font-size: 1.2rem; padding-bottom: .5rem;}
  .item-social>div,.view-number, .change-color{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin: 11px 21px!important;
    float: left!important;
  }
   .item-social>div:nth-child(2){ margin: 11px 68px 11px 60px!important;}
  .fb-like > span{ float: left;}
  .item-social{ overflow: hidden;}
  .change-color{
    margin-left: 40px;
  }
  
  
  #sidebar + #content .thumbnails:not(.related-thumbs) .col-4 > a{
    height: 422px;
  }
  .tab-header-1.larger + .inner .thumbnails .col-4 > a{
    height: 432px;
  }
  .select-default.medium:before, .select-default.medium:after{
    width: 37px;
  }
  .select-default.medium.filter-tag:before{
    line-height: 37px;
  }
  .wrap-404 .thumbnails a{ height: 433px;}
  #header .ui-autocomplete{ width: 65%!important;}
  .slide-film-wrap{ margin: 0 -1%}
}

@media (max-width: 669px) and (min-aspect-ratio: 13/9) {
  .modal-dialog{ margin-top: 3vh}
}
@media (max-width: 669px) and (max-aspect-ratio: 13/9){

  #header .inner{ width: 65%; font-size: 24px;}

  .search-form input[type="submit"]{
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }
  .caption .desc{  width: auto; float: none; height: 9.5rem;}
  
  .list-item figure > a img{ /* min-height: 0 */}
  .list-btn{ text-align: center;}
  .banner .btn-medium{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin: 1rem 2rem;
  }
  .banner .slick-dots{ bottom: 17rem}
  .list-item figcaption{ padding: 0}
 
  .summary h5:after{
      border-top-width: .8rem;
      border-bottom-width: .8rem ;
      right: -13px;
  }
  .list-item figcaption p{max-height: 8rem}
  .showtime-items li:nth-child(5n+1) {
    border: none;
    padding-left: 0;
  }
  .others figcaption h3 { font-size: 1.2em;}
  .others figcaption { font-size: 1.2rem;}
  .paging > a, .paging li{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    margin: 0 9px
  }
  .caption .desc,
  .list-item figcaption p,
  .summary,.editor .cont,
  .thumbnails .caption,
  .film-info figcaption,
  .recruitment,
  .faq .item { font-size: 1.3rem;}

  .modal-dialog{ margin-top: 25vh}
  .film-info.detail{
    font-size: 1.3rem
  }
  .film-info.detail h3{ font-size: 2.5rem}
  div.info span, .film-info.detail .btn-medium { font-size: 1.1rem}
  
}


