
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  margin: 5rem auto 0;
}
.desktop #login{ margin-top: -400px; top:50%;}
.desktop #login .modal-dialog{ margin-top: 0}
.modal-content {
  position: relative;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.modal-header {
  text-align: center;
  border-bottom: 1px solid #ff8000;
}
.modal .close {
  position: absolute;
  right: 0;
  top: 2px;
  font-weight: bold;
  z-index: 10;
  cursor: pointer;
  padding: 1rem;
  /* margin-top: -1.5rem; */
  color: green;
}
.modal .close:hover{
  color: black;
}
.modal-title {
  margin: 0;
}
.modal-body {
  position: relative;
  z-index: 0;
}

.modal-body h3{
    font-size: 1.6rem;
    padding: 0 0 1rem;
}
.modal-body a{
    color: white;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.modal.default .modal-content{
  margin: 0 auto;    background: rgba(241, 241, 241, 0.95);
}
/*#aplly{ margin-top: -230px}*/

#apply .modal-dialog{
    width: 100%;
    
}

#google-popin .modal-dialog{
    width: 90%;  
    max-width: 680px;  
}
#google-popin img{ width: 100%}
.modal.default .modal-header{
    /* height: 60px; */
    position: relative;
}
.modal.default .modal-title{
    line-height: 39px;    
    padding: 14px 0;    
    margin: 0 2rem;
    color: #ff5c00;    
    font-size: 1.7rem;       
    border-bottom: 4px solid #ff5c00;
    text-transform: uppercase;
    font-weight: bold;
}
.modal.default .modal-body{
    padding: 1rem 2rem;
}

#ticket-booking-modal .close:hover{font-size: 1.5rem}
#ticket-booking-modal .modal-body{
    padding: 2rem;
}
#ticket-booking-modal .modal-dialog {
  width: 90%;
  max-width: 428px;
}
#ticket-booking-modal .modal-content {
  background: #ff8000;
}
#ticket-booking-modal .close{
    color: white;
    font-size: 1.7rem;
    font-weight: lighter;
    top: 1rem;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.md-effect-3 {
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}

.md-show.md-effect-3 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.modal-width-1{ background: black; background: rgba(0,0,0,0.9);}
.modal-width-1 .modal-dialog{ max-width: 620px;}
.modal-support p{ line-height: 1.5; }
.modal-support input{ font-family: Arial}

@media (max-height: 700px ){
  #login .modal-dialog{
     -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
       transform: scale(0.8);
  }
}