.bg {
    color: white;
    padding-bottom: 30px;
    background: #33A1FF;
}
.box, .box.page-width {
    padding: 0px;
    padding-top: 15px;
}
.page-width {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.box-title {
    display: inline-block;
    font-size: 34px;
    white-space: nowrap;
    text-transform: uppercase;
    color: white;
    border-bottom: 1px solid white;
    width: 100%;
    position: relative;
    height: 45px;
}
.box-title>span {
    font-weight: bold;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    border-bottom: 4px solid white;
}
.bg .box-content {
    margin-top: 30px;
}
.box-content {
    margin-top: 15px;
}
.bg .left-center {
    width: 100%;
}
.movie-detail {
    width: 100%;
    color: #505050;
    font-size: 14px;
    background: #f8f8f8 url('../images/b1.png') repeat;
    -moz-box-shadow: 2px 2px 1px 0px #0A71CA;
    -webkit-box-shadow: 2px 2px 1px 0px #0A71CA;
    box-shadow: 2px 2px 1px 0px #0A71CA;
    padding-bottom: 15px;
}
.movie-detail-left {
    margin: 15px;
    margin-bottom: 0px;
    width: 260px;
    float: left;
    height: 260px;
    overflow: hidden;
    -moz-box-shadow: 2px 2px 3px 0px silver;
    -webkit-box-shadow: 2px 2px 3px 0px silver;
    box-shadow: 2px 2px 3px 0px silver;
}
.movie-detail-left>img {
    height: auto;
    width: 260px;
}
.movie-detail-right {
    width: 600px;
    padding: 15px;
    padding-bottom: 0px;
    float: left;
}
.movie-title {
    min-height: 72px;
    text-transform: uppercase;
}
.btns {
    margin-bottom: 10px;
}
.btns>span {
    float: left;
    background: #ffac0a;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0px 5px;
    margin-right: 5px;
    border-bottom: 1px solid black;
    -moz-box-shadow: 0px 1px 1px 0px #505050;
    -webkit-box-shadow: 0px 1px 1px 0px #505050;
    box-shadow: 0px 1px 1px 0px #505050;
    white-space: nowrap;
}
.btns>span>span {
    display: inline-block;
    height: 6px;
    position: absolute;
    bottom: -6px;
    left: 0px;
    width: 100%;
    background: url('../images/12-2.png') left bottom no-repeat;
}
.btns>span.caption {
    background: #ff8000;
}
.btns>span.caption>span {
    background: url('../images/13-2.png') left bottom no-repeat;
}
.lbl {
    margin-bottom: 1px;
}
.lbl.cinema {
    line-height: 23px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.lbl.date {
    font-size: 14px;
    font-weight: bold;
}
.lbl.time {
    line-height: 31px;
    font-size: 26px;
    font-weight: 100;
    text-transform: uppercase;
}
.lbl.time>span {
    font-weight: bold;
}
.movie-showtime .box-title {
    font-size: 26px;
    height: 40px;
}
#showtime {
    width: 100%;
    color: #505050;
    font-size: 14px;
    background: #f8f8f8 url('../images/b1.png') repeat;
    -moz-box-shadow: 2px 2px 1px 0px #1A87E4;
    -webkit-box-shadow: 2px 1px 1px 0px #1A87E4;
    box-shadow: 2px 2px 1px 0px #1A87E4;
}
.movie-showtime .box-content {
    margin-top: 10px;
    padding-bottom: 10px;
}
.movie-showtime .box-title>span {
    height: 40px;
    line-height: 40px;
}
#hint {
    padding: 15px 30px;
    font-size: 14px;
}
#ibtnChangeSession,
#ibtnOrderTickets {
    width: 245px;
    height: 61px;
}
#tblTickets {
    width: 100%;
    table-layout: fixed;
}
#tblTickets tr {
    border: 1px solid #5e5e5e;
    border-right: 0;
    border-top: 0;
}
#tblTickets tr.TicketTypeHeaderRow {
    border: 1px solid white;
    border-right: 0;
    border-bottom: 0;
    background: #5e5e5e;
    background: rgba(94, 94, 94, 0.8);
}
#tblTickets tr.TicketTypeRowAlt td,
#tblTickets tr.TicketTypeRow td,
#tblTickets tr.TicketTypeFooterRow td {
    padding: 10px 0;
    text-align: center;
    border-right: 1px solid #5e5e5e;
}
#tblTickets tr.TicketTypeHeaderRow td {
    padding: 10px 0;
    font-weight: bold;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    border-right: 1px solid white;
    text-align: center;
}
#tblTickets .TicketTypeHeaderRow td:first-child,
#tblTickets tr.TicketTypeRowAlt td:first-child,
#tblTickets tr.TicketTypeRow td:first-child,
#tblTickets tr.TicketTypeFooterRow td:first-child {
    text-align: left;
    padding-left: 40px;
}
#tblTickets .TicketTypeFooter,
#tblTickets .TicketType {
    font-weight: bold
}
#tblTickets .TicketTypeSubText,
#tblTickets .TicketTypeFooter>div {
    font-weight: normal;
    font-size: 12px;
}
.ErrorCell {
    padding: 0 40px;
}
.j-combobox-button {
    right: -1px;
    top: 2px;
    width: 26px;
    height: 26px;
    background: #a3a3a3 url('..images/19.png') center center no-repeat;
}
.j-combobox-button:hover {
    background: #505050 url('../images/19.png') center center no-repeat;
}
.j-combobox {
    width: 60px!important;
}
.j-combobox input.j-textbox {
    line-height: 26px;
    height: 28px;
}
@media(max-width:959px) {
    #tblTickets .TicketTypeHeaderRow td:first-child, #tblTickets tr.TicketTypeRowAlt td:first-child, #tblTickets tr.TicketTypeRow td:first-child, #tblTickets tr.TicketTypeFooterRow td:first-child {
        padding-left: 10px;
    }
    #ibtnChangeSession,
    #ibtnOrderTickets,
    #ibtnSelectSeats {
        width: auto;
        height: 40px;
    }
    #ProcAnimation {
        margin-top: 10px;
    }
}
#buttons {
    text-align: center;
    margin-top: 10px;
}
#ibtnChangeSession, #ibtnOrderTickets {
    width: 245px;
    height: 61px;
}
#buttons>* {
    margin: 0px 5px;
}
.error-message {
    margin-top: 12px;
    color: #FF7D04;
    font-weight: bold;
}