

#popupApps{
  color: gray;
  position: relative;
  text-align: left;
}

.app-hint{
  width: 195px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding-top: 40px;
}

.app-hint .ah1{
  display: inline-block;
  width: 185px;
}

.app-hint .ah2{
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  width: 195px;
  margin: 10px 0px;
}

.app-hint .ah2 img{
  width: 30px;
  margin-right: 10px;
}

.app-hint .ah3{
  width: 195px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 0px black;
  background: url('../images/download-app.png') center center no-repeat;
}

.app-hint .ah3:hover{
  color: #ffac0a;
}

.app-qr{
  position: absolute;
  top: 40px;
  right: 40px;
}

#popupApps.top-up{
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100px;
  z-index: 200;
  width: 100%;
  padding-top: 10px !important;
  background-color: #f0f0f0;
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#e8e8e8),to(#f8f8f8));
  background: -webkit-linear-gradient(top,#f8f8f8,#e8e8e8);
  background: -moz-linear-gradient(top,#f8f8f8,#e8e8e8);
  background: -ms-linear-gradient(top,#f8f8f8,#e8e8e8);
  background: -o-linear-gradient(top,#f8f8f8,#e8e8e8);  
}

.top-up .app-hint{
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 0px;
  padding-top: 10px;
}

.top-up .app-hint .ah1{
  font-size: 14px;
}

.top-up .app-hint .ah1, .top-up .app-hint .ah2{
  text-align: center;
  width: 200px;
  display: block;
  white-space: nowrap;
  margin: 0px;
}

.top-up .ah3{
  position: absolute;
  top: 5px;
  right: 0px;
}

.top-up .app-qr{
  display: none;
}

.top-up .close{
  display: inline-block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 40px;
  right: 10px;
  opacity: 0.8;
  background: url('../images/close-top-up.png') center center no-repeat;
} 

.hasTopup{
  padding-top: 100px;
}
  
/** Responsive **/

@media (max-width:659px){ 
  .top-up .app-hint .ah1, .top-up .app-hint .ah2{
    margin-left: -30px;
  }

  .top-up .ah3{
    right: 30px;
  }
  
  .top-up .close{
    right: 20px;
  }
}
.no-touch #popupApps{ display: none;}