@import url('reset.css');
@import url('animation.css');
@import url('utility.css');
@import url('form.css');
@import url('modal.css');
@import url('login.css');
@import url('popup-app.css');

.page{ overflow: hidden;}
.touch .page{ padding-top: 100px}
.icon-menu{display: none;}
.container {
  margin: 0 auto;
  width: 960px;
  position: relative;
}
#likeFb {
  background: rgba(0,0,0,0.3);
  width: 70px;
  padding: 10px;
  position: fixed;
  z-index: 9;
  top: 195px;
  left: 50%;
  margin-left: 506px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#header{
    background: white url('../images/body.png') repeat;
    position: relative;
    z-index: 10;
}
#header .container{
    padding-top: 30px;
}
#header .logo {
  position: absolute;
  top: 40%;
  margin-top: -33px;
}
.lang{
    padding: 15px 0 7px;
}
.lang li{
    display: inline-block;
    color: #8e8e8e;
    padding: 0 0 0 1px;
    font-size: 1em;
}
.lang li:first-child:after{ content:"|"; padding-left: 5px;}

.lang a{
    font-size: 1em;
}
.lang li.active a,.lang li a:hover{
    color: #ff8000;
}
#header .inner{
    text-align: right;
}
.social{
    display: inline-block;
    vertical-align: middle;
    padding-right: 7px;
}
.social li{
    float: left;
    margin: 0 3px;
}
.social li a{
    background:  url('../images/social.png') no-repeat;
    width: 25px;
    height: 25px;
    font-size: 0;
    display: block;
}

.social li a.facebook{
    background-position: 0 0;
}
.social li a.google{
    background-position: -57px 0;
}
.social li a.youtube{
    background-position: -116px 0;
}
.social li a.zalo{
    background-position: -176px 0;
}
.social li a.zing{
    background-position: -236px 0;
}
.social li a:hover{background-position-y: -40px}
.search-form{
    display: inline-block;
    
}
.search-form input[type="text"]{
    width: 166px;
    height: 2em;
    padding: 3px 10px;
    border-radius: 2px ;
    border: 1px solid #d5d7d8;
    border-right: none;
    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.3);
    border-right: none;
    outline: none;
    float: left;
    font-size: 1em;
}
.search-form input[type="submit"]{
    outline: none;
    border: none;
    width: 2rem;
    height: 2rem;
    background-color: #33A1FF;
    background: url('../images/icon-search.png') center center no-repeat,linear-gradient(to top, #236A9C, #33A1FF);
    margin-left: -2px;
}
.no-touch .search-form input[type="submit"]:hover{
    background: url('../images/icon-search.png') center center no-repeat,linear-gradient(to top, #236A9C, #33A1FF);
}
#header nav {
  margin-top: 8px;
  border-bottom: 1px solid black;
}
.no-touch #header nav.fixed {
  position: fixed;
  width: 960px;
  left: 50%;
  top: 0;
  z-index: 100;
  margin: 0 0 0 -480px;
}
#header nav > ul{
  width: 100%;
  display: table;
}
#header nav > ul > li {
  display: table-cell;
  position: relative;
  text-align: center;
  background: #3a3a3a url('../images/line-menu.png') left center no-repeat;
  padding-left: 2px;
}
#header nav > ul > li:first-child{
    background-image: none;
    padding: 0;
}
#header nav > ul >  li > a {
  padding: 8px 0;
  display: block;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 90%;

  position: relative;
  background: #3a3a3a;
}

#header nav > ul > li.active > a, #header nav > ul > li > a:hover {
  background: linear-gradient(to top, #236A9C, #33A1FF);
}
#header nav .submenu{
  position: absolute;
  top: 29px;
  left: 0px;
  min-width: 100%;
  z-index: 10;
  display: none;
}
#header nav .submenu.sub-recruitment{ left: auto; right: 0}
#header nav > ul > li:hover .submenu{
  display: block;
}
/*.touch .submenu{ display: none!important;}*/
.sub-1{
    padding: 0px 1px;    
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 2px solid #ffac0a;  
    box-shadow: 2px 2px 3px 0px #680f10;
}
.sub-1 > li{
    text-align: center;
    line-height: 28px;
    white-space: nowrap;
    border-bottom: 1px solid #e8e8e8;
}
.sub-1 > li >a{
    padding: 5px 10px;
    color: #474747; 
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: .9rem;
}
.sub-1 > li > a:hover{
  color: #ffac0a;
}
.sub-1 >li.active >a{
  color: #ff5c00 !important;
}
.sub-2{
  position: absolute;
  left: 101%;
  top: 0px;
  width: 616px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1;
  box-shadow: 2px 2px 3px 0px #680f10;
  white-space: normal;
  display: none;
}
/*.sub-1 > li:hover .sub-2{ display: block;}*/
.sub-2 .col-width-1{
  width: 41%;
  float: left;
}
.sub-2 .col-width-2{
  width: 33%;
  float: left;
}
.sub-2 .col-width-3{
  width: 27%;
  float: left;
}
.sub-2 .col-3{
  overflow: hidden;
}

.item-wrap{
  overflow: hidden;
}
.sub-2 .sub-title{
  background: url('../images/arrow-menu-title.png') left 11px no-repeat;
  padding-left: 13px;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  color: #ff8000;
  text-transform: uppercase;

}
.sub-2 .items{
  color: #680f10;
  padding-left: 13px;
  text-align: left;
}
.sub-2 .items li{
  padding: 5px 0;
  line-height: 1.1;
  cursor: pointer;
  font-size: .85rem;
}
.sub-2 .items li:hover{ color: #ffac0a;}
.sub-2 .items li.active{ 
  font-weight: bold;
  color: #ff5c00!important;
}
.sub-2 .item-title{
  color: #680f10;
  font-weight: bold;
  line-height: 1.2;
  font-size: .9rem;
  padding: 4px 0;
}
.sub-2 .item-time{
    margin-left: -7px;
}
.sub-2 .item-time li{
  float: left;
  color: #680f10;;
  border-right: 1px solid #680f10;
  padding: 0 7px;
  margin: 5px 0;
}
.sub-1 li:nth-child(3) .col-3 .item-time li:nth-child(5n),
.sub-1 li:not(:nth-child(3)) .sub-2 .item-time li:nth-child(3n),
.sub-2 .item-time li:last-child{
  border: none;
  padding-right: 0;
}

#main {
  overflow: hidden;
  background-color: #2d82c3;
  position: relative;
  /* z-index: 1; */
  color: white;
}

#content{
  overflow: hidden;
  position: relative;
  padding-right: 30px;
  color: white;
}
#content .inner{
    position: relative;
}
#content > .inner:after{
  content:"";
  position: absolute;
  right: -30px;
  top: 50px;
  bottom: 100px;
  width: 2px;
  background: url('../images/line-ver.png') repeat-y 100% 0;
}
.tab-header-1 ~ #content > .inner:after{ top:0;}
#sidebar{
  float: right;
  width: 200px;
  padding: 50px 0 0 30px;
}
.tab-header-1 + #sidebar{ padding-top: 0;}
.banner{
    height: 350px;
    overflow: hidden;
    background: #2d82c3;
}
.apps{
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0px 0 0 465px;
}
.list-apps a{
    display: block;
    margin: 10px 25px 0;
}
.no-touch .list-apps a:hover img{
  -webkit-animation: hvr-wobble-top 1s infinite;
  animation: hvr-wobble-top 1s infinite;

}
.apps h2{ color: #ff7727; font-size: 1.9rem; text-decoration: underline; margin-bottom: 5px;}

.others{
    /* background: #ff7727; */

    position: relative;
    overflow: hidden;
}

.left-content{
    float: left;

    width: 50%;
}
.left-content .inner{
    width: 480px;
    float: right;
}
.list-item-slide{
    width: 1000em;
}
.list-item-slide li{
    float: left;
    width: 480px;
}

.others .cont{
    overflow: hidden;
    padding: 0 50px 0 0;
    color: white;
}
.others figure {
    overflow: hidden;
    margin-bottom: 17px;
    /* display: block; */
}
.others figure > a{
    width: 180px;
    height: 301px;
    float: left;
    overflow: hidden;
}
.others figcaption{
    overflow: hidden;
    padding: 0 0 0 18px;
}
.others figcaption h3{
    font-size: 1.4em;
    line-height: 1.1;
    margin-bottom: .5rem;
    overflow: hidden;
    max-height: 2.25em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.others figcaption p{
    font: .9em/1.3 Arial, sans-serif;
    text-align: justify;
    max-height: 7.8em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.right-content{
    overflow: hidden;
    background: #ff9529;
}

.right-content .inner{
  width: 430px;
  margin-left: 50px;
  padding-bottom: 15px;
}

.carousel{
  overflow: hidden;
  position: relative;
}
/*.carousel .control{
  text-align: center;
  width: 68%;
  position: absolute;
  bottom: 10px;
  z-index: 10;
}*/
.carousel .control li{ display: inline-block; margin: 0 2px;}
.carousel .control a{
  display: block;
  width: 8px;
  height: 8px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}
.carousel .control a:hover,
.carousel .control li.active a{
  background: #ff5c00
}
.list-events{
    width: 1000em;
}
.list-events li{
    width: 960px;
    float: left;
    position: relative;
}
.carousel img{
  width: 960px;
  height: 350px;
  max-width: none;
}
.carousel .cont{
    position: absolute;
    width: 652px;    top: 0;
    overflow: hidden;
    height: 350px;
}
.carousel .cont iframe{
    display: none;
}
.carousel .caption{
  background: rgba(0,0,0,0.5);
  color: white;
  position: absolute;
  right: 0;
  width: 32%;
  top: 0;
  bottom: 0;
  padding: 60px 25px 25px 25px;
}
.carousel .caption h2{
  font-size: 30px;
  line-height: 1.1;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-top: 2px;
}
.carousel .caption p{
  font-size: .9em;
  line-height: 1.6;
  overflow: hidden;
  text-align: justify;
}
.caption .desc{
  overflow: hidden;
  height: 13.6rem;
  margin-bottom: 2.5rem;

}
.list-btn{
    overflow: hidden;
    text-align: center;
}

.control{
  background: url('../images/control.png') no-repeat;
  width: 18px;
  height: 21px;
  display: block;
  position: absolute;
  top: 50%;
  font-size: 0;
  z-index: 10;
  margin-top: -10px;
}
.control.prev{left: -9px;}
.control.next{background-position: 100% 0; right: -9px;}
.control:hover{
  opacity: 0.7
}

.slide-simple{
  margin: 0 20px;
}
.slide-simple .slide-item{
  height: 144px;
  margin: 0 7px;
  overflow: hidden;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
}
.slide-simple img{
  min-width: 100%;
  min-height: 100%;
  max-width: none;
}
.slide-simple .control{
  background-image: url('../images/control-2.png')
}
.slide-simple .control.prev{ left: -20px}
.slide-simple .control.next{ right: -20px}

.slide-simple.four-thumbs{
  margin: 20px;
}
.slide-simple.four-thumbs .slide-item{
  height: 230px;
  margin: 0 6px;
}
.film-block{
    position: relative;
    overflow: hidden;
    padding-top: 21px;
    background-color: white;
}
.film-block:before{
  content:"";
  width: 100%;
  height: 1px;
  background: #1362a0;
  position: absolute;
  top: 54px;
  left: 0;
}

/*.all-films .tab-header{
    overflow: hidden;
}*/
.all-films .tab-header li{
    float: left;
    margin-right: 17px;
}
.all-films .tab-header li.active{
    border-bottom: 2px solid #1362a0;
}
.all-films .tab-header li a{
    color: #1362a0;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 33px;
}
.all-films .tab-header li:not(.active) a:hover{ color: #ffab06;}
.all-films .tab-header li.active a{
    font-weight: bold;
}
.all-films .tab-content{
  float: left;
  width: 640px;
}
.all-films .control{ margin-top: -19px;}
.tab-content .cont{
  display: none;
  margin: 0 -1.5%;
}
.tab-content .cont.active{
  display: block;
}

.ticket-booking{
    float: right;
    width: 308px;
    margin-bottom: 20px;
}
.ticket-booking h2{
    color: #1362a0;
    text-transform: uppercase;
    font-size: 1.9rem;
    line-height: 1;
    font-weight: normal;
    text-align: center;
}
.ticket-booking .cont{
  background: #1362a0;
  margin-top: 18px;
}


#footer {
  padding: 10px;
  border-top: 1px solid #05508C;
  text-align: center;
}
.film-intro{
  text-transform: uppercase;
  float: left;
  margin: 10px 2% 3px;
  width: 46%;
  /* height: 154px; */
}
.film-intro .thumb{
  width: 100%;
  /* height: 129px; */
  overflow: hidden;
  position: relative;
  color: white;
  margin-bottom: 7px;
  -webkit-box-shadow: 2px 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 2px 3px 6px rgba(0,0,0,.5);
  box-shadow: 2px 3px 6px rgba(0,0,0,.5);
}
.film-intro .thumb > a:first-child{ display: block;}

.no-touch .film-intro .thumb a:hover img{ -webkit-transform: scale(1.2);transform: scale(1.2); }
.info {
  position: absolute;
  bottom: 3px;
  right: 10px;
  left: 10px;
}
.info span{
  border-radius: 2px;
  font-weight: 600;
  padding: 2px;
  float: left;
  position: relative;
  color: white;
  margin-right: 5px;
  font-size: 11px;
}
/*
.info span:before{
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -4px;
}*/
.info .kind{
  background: #ffac0a;
}
.info .kind:before{
  border-top-color: #ffac0a;
}
.info .caption{
  background: #ff8000;
}
.info .caption:before{
  border-top-color: #ff8000;
}
.info .warning{
  background: url(../images/icon-16plus.png) no-repeat;
  width: 30px;
  height: 21px;
  text-indent: -9999px;
}
.info .warning:before{
  border-top-color: #ff5c00;
}
.info.larger{ bottom: 12px}
.info.larger span{
  border-radius: 5px;
  padding: 7px;
  font-size: 14px;
}
div.info{
  position: static;
  overflow: hidden;
  padding: 25px 0 5px;
}
div.info span{
  font-size: 14px;
  padding: 2px 8px;
}
.film-intro h4{ /* max-height: 19px; */ }
.film-intro h4 a{
    color: #05508C;
    font-size: 16px;
    padding: 2px 0 0;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}
.film-intro h4 a:hover{
    color: #05508C;
}

#footer nav{
    margin: 10px 0;
    overflow: hidden;
}

#footer nav li{
  display: inline-block;
  padding: 2px 17px;
}
#footer nav li a{
    color: #05508C;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.85rem;
}
#footer nav li a:hover{
  color: #05508C;
  -webkit-animation: hvr-wobble-top 1s infinite;
  animation: hvr-wobble-top 1s infinite;
}
#footer .social{  margin: 30px 0 50px;}

.general-block,
.editor .cont{
  overflow: hidden;
  background: url('../images/line-hor.png') repeat-x 0 100%;
  padding: 0 0 20px;
  position: relative;
}
.editor .cont{ line-height: 1.5}
.general-block:last-child{
  background: none
}
.thumbnails .col-4{
    margin-top: 10px;
    min-height: 384px;
    margin-bottom: 10px;
}
.thumbnails h4{
    font-size: 1.1em;
}

.thumbnails a + .caption{
    color: white;
    margin-top: 10px;
    text-align: center;
}
.thumbnails .caption h4{
   /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 2.7em;*/
    line-height: 1.2;
   max-height: 4.5em;
   overflow: hidden;
}
.thumbnails .caption p{
    font-size: .9em;
    margin-top: 4px;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 2.5em;
    overflow: hidden;
}
.thumbnails a{
  display: block;
  overflow: hidden;
  position: relative;
}
.thumbnails a.expired:before{
  content: "";
  background: url('../images/expired.png') no-repeat;
  width: 103px;
  height: 56px;
  position: absolute;
  z-index: 10;
  top:0;
  right: 0;
}
.thumbnails img{
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.thumbnails a:hover img{ -webkit-transform: scale(1.2);transform: scale(1.2); }
.thumbnails .col-4 img{
    min-height: 100%;
}
#sidebar + #content .thumbnails .col-4 > a{
  height: 255px;
  background-color: #fff;
}
.tab-header-1.larger + .inner .thumbnails .col-4 > a{
  height: 338px;
}
.summary{
  overflow: hidden;
  padding: 20px 0;
  background: url('../images/line-hor.png') repeat-x;
}
.summary li{
  overflow: hidden;
  color: white;
  margin-bottom: .8em;
}
.summary h5{
  background: white;
  color: black;
  display: inline-block;
  position: relative;
  font-weight: normal;
  padding: .23rem .5rem;
  margin: 8px 0;
  font-size: .9em;
  -webkit-transition: .5s all;
  transition: .5s all;
}
.desktop .summary h5:hover{ margin-left: 5px;}
.summary h5:after{
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  width: 0;   height: 0;
  border-top: .7rem solid transparent;
  border-left: .7rem solid white;
  border-bottom: .7rem solid transparent;
  position: absolute;
  right: -.64rem;
  top: 0;
}
.summary p{
    font-size: .9em;
    line-height: 1.2;
}
#sidebar h3{
  color: white;
  font-weight: normal;
  margin: 10px 0;
}
#sidebar h3:before{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 10px;
  border-color: transparent transparent transparent white;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
  margin-top: -5px;
}
#sidebar .general-block{
  padding-bottom: 15px;
}
.list-films{
    overflow: hidden;
}
.list-films li{
    margin: 0 0 10px;
    overflow: hidden;
}
.list-films a{
   /* height: 100px;*/
    width: 170px;
}
/*.list-films img{
    min-height: 100%;
}*/
.list-films a:hover img{}

.editor{
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow: hidden;
  margin-bottom: 21px;
  font-weight: 300;
}
.editor h3{
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1.2;
}
.editor p{ padding: 10px 0; font-family: Arial, sans-serif}
.editor .cont > iframe,
.editor .cont > img{
  margin: 10px auto;
  display: block;
}
.rating{}
.rating ul{ display: inline-block;}
.rating li{ display: inline-block;}
.rating li img{  background: url('../images/star.png') repeat-x;  width: 15px;  height: 17px;}
.rating li.active img{ background-image: url('../images/star-active.png') }
.rating-number .rating{
  overflow: hidden;
  padding: 7px 0 0 10px;
}
.list-item{}
.list-item li{
    overflow: hidden;
    padding: 20px 0;
    background: url('../images/line-hor.png') repeat-x ;
}
.list-item li:first-child{
  padding-top:  10px;
  background: none;
}
.list-item figure > a{
  float: left;
  overflow: hidden;
  width: 47%;
  height: 230px;
  margin-left: 5px;
  box-shadow: 0 0 8px black;
  margin-top: 4px;
}

.list-item figcaption{
  color: white;
  overflow: hidden;
  padding: 0 0 0 18px;
}
.list-item figcaption h3,
.title-group h3{
    font-size: 1.8rem;
    padding: .2rem 0 .5rem;
}
.list-item figcaption p{
    font: 100 1rem/1.3 Arial, sans-serif;
    margin: 5px 0 15px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 5.3rem;
    overflow: hidden;
}

.list-item figure > a img{ /* min-height: 100%; */}


.title-group{
  overflow: hidden;
}
.title-group h3{
  line-height: 1.2;
  float: left;
  text-align: left;
}
.title-group h3 span{
  display: block;
  letter-spacing: -1px;
  font-size: .85em;
}

.list-item.list-3 figcaption p{
  margin: 8px 0 4px;
}
.rating-number{}
.point{
  display: inline-block;
  background: url('../images/rating.png') no-repeat;
  width: 2.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  text-align: center;
  color: #fd7f31;
  font-size: 1rem;
  background-size: 100%;
}
.tab-header-1{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #0B72C1;
    margin: 10px 0 14px;
}
.tab-header-1 h2{
  float: left;
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2.3rem;
  font-weight: bold;
  margin-right: 15px;
  border-bottom: 2px solid white;
}
.tab-header-1 li{
    float: left;
    border-left: 1px solid #FE7A7A;
    padding: 0 15px;
}
ul.tab-header-1 li:first-child{
    border: none;
    padding-left: 0;
}
.htab-header-1 li.active{
    border-bottom: 2px solid #ff6600;
}
.tab-header-1 li a{
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 2.3rem;
    /* font-weight: bold; */
}
.tab-header-1 li:not(.active) a:hover{ text-shadow: 0px 0px 5px rgba(0,0,0,0.5);}
.tab-header-1 li.active a{
    border-bottom: 2px solid white;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: .35rem;
}
.tab-header-1.larger{
  overflow: hidden;
  padding: 7px 0;
}
.tab-header-1.larger li a{ font-size: 2em; font-weight: normal;}
.tab-header-1.larger li.active a{ font-size: 2.5em; font-weight: bold;}

.film-info .thumb{
  float: left;
  width: 307px;
  overflow: hidden;
}
.film-info .thumb .wrap{
  overflow: hidden;

  position: relative;
}
.film-info .thumb img{
    width: 100%;
}
.film-info .thumb .wrap .play{
  content:"";
  background: rgba(0,0,0,0.8) url('../images/play-btn.png') no-repeat center center;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  text-indent: -9999px;
}
.film-info .thumb .wrap:hover .play{
  opacity: 1;
}

.film-info figcaption, .film-info.detail article{
  padding: 10px 0 10px 30px;
  overflow: hidden;
  line-height: 1.5;
}
.film-info figcaption strong + strong{ padding: 0 5px 0 20px}
.film-info figcaption p{ padding: 1px 0 4px;}

.film-info.detail{
  background: #f8f8f8 url('../images/body.png') repeat;
  color: #680f10;
}

.film-info.detail .thumb{
    width: 250px;
    margin-bottom: 16px;
    position: relative;
}
.film-info.detail .desc{ clear: both; line-height: 1.4;}
.film-info.detail{
    padding: 20px;
    margin-bottom: 20px;
}


.general-block .title-primary ~  *{ line-height: 1.4}
.table-default,.ck-editor table {
  font-weight: bold; margin-bottom: 10px; background-color: #E36013;
 line-height: 1.4;
 width: 100%
}
.table-default{ 
 max-height: 7em; overflow: hidden; display: block;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}
.table-default.full{ max-height: 1000px }
.table-default tr.even, .ck-editor table tr:nth-child(even){ background-color: white}
.ck-editor table td, .table-default td{
  border-bottom: 1px solid #fd7f31;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  padding: 0 5px;
  font-size: 1em;
}
.ck-editor table td{ height: 49px}
.table-default .small-avatar{ width: 3.5rem; height: 3.5rem; overflow: hidden; display: block;}
.table-default .small-avatar img{ height: 100%;min-width: 100%;}
.table-default tr td:nth-child(1){ width: 6.5%; min-width: 50px; overflow: hidden; padding: 0;}
.table-default tr td:nth-child(2){ width: 40%;}
.table-default tr td.col-space{ width: 7%; padding: 0;}
.table-default.music{ background: #E66316}
.table-default.music td{ height: 50px;}
.table-default.music td:nth-child(1){  background-color: #D74D05; }
.table-default.music tr td:nth-child(2){width: 28%;}
.table-default.music span{
  font-size: 0.8em;
}
.ck-editor ol,.ck-editor ul{ margin-left: 25px; padding-left: 25px ;}
.ck-editor ol{list-style-type: decimal;}
.ck-editor ul{list-style-type: disc;}

.faq{ padding: 1rem 0; overflow: hidden;}
.faq .item {
  padding-left: 15px;
  padding-bottom: 1.4rem;
  padding-right: 50px;
}
.faq .item-question {
  font-size: 1.5em;
  padding-left: 25px;
  background: url('../images/arrow-left.png') 0 center no-repeat;
  line-height: 1.2;
  font-weight: normal;
  cursor: pointer;
}
.faq .item-question:hover{ color: black}
.faq .item-question.active{
   color: black;
  background-image: url('../images/arrow-down.png');

}

.faq .item-answer {
  margin-top: 10px;
  margin-left: 2em;
  border-left: 2px solid white;
  padding-left: 1em;
  display: none;
  font-size: 1em;

  line-height: 1.5;
}
/*recruitment---------------------------------------------*/

.article .item {
    position: relative
}
.article-title{
    font-size: 2rem;
    line-height: 1.1;
    font-weight: bold;
}
.article .item .btn2 {
    position: absolute;
    top: 0;
    right: 30px
}

.btn2{
  display: inline-block;
  cursor: pointer;
  background: url('../images/btn.png') center center no-repeat;
  color: #ff8000;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: .8em 1em;
  background-size: 100%;
  text-align: center;
  margin: 0;
}
.btn2:disabled{ color: gray; cursor: default;}
.btn2:not([disabled]):hover{ color: #ffac0a}

.article .article-title {
    padding-right: 100px
}
.recruitment {
    padding: 30px 0;
    line-height: 1.5;
}
/*.recruitment h3{
    color: black;
    padding: 1rem 0;
    font-size: 1.2em;
}*/
.recruitment h4{
    /*color: black;*/
    padding: 1rem 0 0;
    font-size: 1em;
}
.recruitment ul{
    list-style-type: disc;
    margin-left: 2rem;
}
.recruitment-guide{
  padding-left: 16px;
}
/*.recruitment li span{
    color: black;
}*/

/*movie calendar---------------------------------------------*/
.block{
    overflow: hidden;
}
.silver-box {
  position:relative;
  background:#f8f8f8;
  -moz-box-shadow:1px 2px 5px rgba(0,0,0,0.8);
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.8);
  box-shadow: 1px 2px 5px rgba(0,0,0,0.8);
  color: #680f10;
}

.silver-title {
  border:1px solid #f8f8f8;
  border-bottom:0;
  font-size: 1.7rem;
  text-transform:uppercase;
  color:#05508C;
  line-height: 3rem;
  height: 3rem;
  padding-left:50px;
  background:#ebebeb url(../images/arrow-title.png) 30px center no-repeat;
  font-weight: normal;
}
.silver-box.full{
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 20px;
}
.silver-box.full .silver-title{
  font-weight: bold;
  background-size: 1.7%;
  background-position: 12px center;
  padding-left: 30px;
}
.arrow-left {
  padding-right:16px;
  width:380px;
  padding-bottom:10px;
  position: relative;
  float: left;
}
.arrow-left:before{
  content: "";
  position: absolute;
  background: url(../images/arrow-shadow-left.png) right 0 no-repeat;
  width: 16px;
  height: 26px;
  right: 1px;
  top: 3rem;
  z-index: 10;
}
.arrow-bottom {
  padding-bottom:16px;
  margin: 0 4px 1rem 0;
  position: relative;
}
.arrow-bottom:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 16px;
  right: 1rem;
  bottom: 1px;
  z-index: 10;
  background: url(../images/arrow-shadow-bot.png) 0 bottom no-repeat;
}
.movie-time{ margin: 0 4px 1rem 0;}
.silver-content {
  padding:15px 30px;
}

.silver-content>.item {
  cursor:pointer;
  margin-bottom:10px;
  padding: 0px 0 0px 50px;
  min-height: 44px;
  background: url(../images/check.png) left 0 no-repeat;
  color: #680f10;
  font-size: 1.2rem;
  line-height: 1.1;
}

.silver-content > .item .info {position: static;}
.submenu .info {position: static; line-height: 16px;}

.silver-content>.item.checked {
  color:#ff5c00;
  font-weight:700;
  background-image: url(../images//checked.png);
}

.silver-content>.item.checked.readonly {
  color:silver;
  font-weight:400;
  cursor:default;
}

.showtime-title {
  font-weight:700;
  margin-bottom:10px;
  font-size: 1.15em;
}

.showtime-items {
  margin-bottom:20px;
  overflow: hidden;
}

.showtime-items li {
  display:inline-block;
  float:left;
  vertical-align:middle;
  border-left: 1px solid #680f10;
  padding: 0 10px;
  margin: 3px 0;
}
.showtime-items li:first-child{
  padding-left: 0;
  border: none;
}
.showtime-items a {
  color:#680f10;
  font-size: 1em;
}

#scrollbarCenter {
  max-height:750px;
}

.silver-box .item:hover,.showtime-items a:hover {
  color:#ffac0a;
}

.fb-comments{ display: block!important; margin-bottom: 10px;}
/*cinema------------------------------------------------*/
.cinema-left {
    text-align: right;
    float: left;
    width: 28%;
}
.cinema-right {
    overflow: hidden;
    padding-left: 30px;
    position: relative;
}
.cinema-items{
    text-align: right;
    position: absolute;
    bottom: 2rem;
    right: 72%;
    background: url('../images/line-hor.png') repeat-x;
    padding-top: 1rem;
}
.cinema-items li a {
    text-align: left;
    white-space: nowrap;
    display: inline-block;
    color: white;
    cursor: pointer;
    line-height: 1.8;
    font-size: 1rem;
    padding-right: 12px;
    text-transform: uppercase;
    background: url('../images/arrow-right.png') right center no-repeat
}
.ticket .cinema-items li a {
    font-size: 1rem;
    line-height: 1.5
}
.cinema-items .a:hover {
    color: #680f10
}
.cinema-items li.active a{
    font-weight: bold;
    font-size: 1.2rem;
    background-image: url('../images/arrow-right-2.png');
}

.cinema .btns {
    display: inline-block
}
.cinema .btns .btn-medium{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
    margin: 13px 8px;
}

.cinema-desc {
    margin-bottom: 10px;
    line-height: 1.4;
}
.cinema-title {
    line-height: 33px;
    font-size: 27px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 0;
}
.cinema-title>span {
    display: block;
}
.cinema-slider{ overflow: hidden; box-shadow: -1px 3px 5px rgba(0,0,0,0.5); margin: 1rem 0;}
.cinema-slider .slick-track{ width: 10000em!important}
.cinema-slider .control, #banner .control{
    width: 28px;    
    height: 44px;
}
.cinema-slider .control.prev,
#banner .control.prev{  background-image: url('../images/control-prev.png');  left: 15px;}
.cinema-slider .control.next{  background-image: url('../images/control-next.png');  right: 15px;}
#banner .control.next{  background-image: url('../images/control-next.png');  right: 32%;  margin-right: 15px;}
.cinema-slider .wrap{ overflow: hidden; height: 340px; }
.cinema-slider .wrap img{ min-height: 100%; min-width: 100%; }
.cinema-slider .slick-dots{ width: 60%; margin: 0 20%;}


.ticket{ padding: 2rem 0}
.ticket img {
    width: 100%;}

.cinema-ticket{
    position: static;
    background: none;
}
.btn-google {
  display: block;
  position: absolute;
  z-index: 10;
  left: 45px;
  bottom: 29px;
  height: 27px;
  line-height: 27px;
  padding-left: 25px;
  font-size: .9rem;
  background: url('../images/google.png') left center no-repeat;
}
.btn-google:hover{ letter-spacing: 1px; color: white}


#main.changed-color {
  background-color: white;
}
#main.changed-color *:not(.view-number):not(.btn-buy):not(.select-default):not(.book-now){
  color: #616161!important;
  border-color: #616161!important;
}
#main.changed-color .title:before{
  background-color: #616161!important;
}
#main.changed-color #sidebar h3:before{
  border-color: transparent transparent transparent #616161;
}
#main.changed-color .view-more.white:before{
  border-top-color: #616161;
}
#main.changed-color .rating li img{  background-image: url('../images/star-change-color.png')}
#main.changed-color .rating li.active img{ background-image: url('../images/star-active-change-color.png') }

#main.changed-color .table-default{
  background-color: #616161;
}

#main.changed-color .table-default.music td:nth-child(1){
  background-color: black;
}
#main.changed-color *:not(.view-number):not(.btn-buy):not(.select-default):not(.book-now) .table-default tr:not(.even) td,
#main.changed-color *:not(.view-number):not(.btn-buy):not(.select-default):not(.book-now) .table-default tr:not(.even) td *{
    color: white!important;
}

#main.changed-color .book-now{
  background: #616161;
  color: white;
}
#main.changed-color .book-now:hover{
  opacity: 0.8;
}
#main.changed-color .title-primary,
#main.changed-color .control{
  -webkit-filter: brightness(0.4);
  -moz-filter: brightness(0.4);
  -ms-filter: brightness(0.4);
}

#main.changed-color .point{
  -webkit-filter: contrast(60%);
  -moz-filter: contrast(60%);
  -ms-filter: contrast(60%);
}

/*404*/
.error-404{
    text-align: center;

    padding: 0 10px 30px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    overflow: hidden;
}
.img-404{
    margin: 40px 0;
    max-width: 478px;
}
.error-404 p{
    font-size: 1.3rem;

    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
}
.wrap-404{
  max-width: 800px;
  margin: 0 auto
}
.wrap-404 .thumbnails a{ height: 282px;}

@media (min-width:960px){
  .showtime-items li:first-child, .silver-box:not(.full) .showtime-items li:nth-child(5n+1){ border: none; padding-left: 0;}
  .silver-box.full .showtime-items li:first-child,
  .silver-box.full .showtime-items li:nth-child(12n+1){ border: none; padding-left: 0;}
  [class*='filter-'] .title{ margin-right: 23px}
  .filter-tag{ display: none;}
}

@media (min-width:768px){
  .list-item.list-3 figure > a{
    width: 216px;
    height: 288px;
  }
  .list-item.list-2 figure > a{
    width: 305px;
    height: 210px;
    margin-top: 8px;
  }
  .cinema .btns{
    margin-right: -8px
  }
  #trailer-modal .modal-dialog{
      width: 960px;
      margin-top: 2rem;
  }
  #apply .modal-dialog{
    max-width: 470px;
  }
}
@media (min-width:801px){
  .hide-lg{ display: none!important}
  .ui-autocomplete{width: 192px!important}
  .film-intro .thumb a {  max-height: 185px;}
}
@media (max-width:1024px) {
  .hide-device{ display: none!important;}
}

.general-block.film-info.detail .thumb .play {
    content: "";
    background: rgba(0,0,0,0.8) url('../images/play-btn.png') no-repeat center center;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    text-indent: -9999px;
}
.general-block.film-info.detail .thumb:hover .play {
    opacity: 1;
}
.highlight {
  background: rgba(255, 255, 0, 0.61);
}
.contact-msg {
  text-align: center;
  padding-top: 12px;
  font-size: 16px;
}
.contact-msg.success {
  color: #65FF65;
}
.contact-msg.error {
  color: #FF6565;
}
.ticket-price {
  font-size: 36px;
  text-shadow: 1px 1px 1px #000;
  color: #FFF900;
  font-weight: bold;
}
.pagination {
  display: block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  margin: -2px;
  line-height: 1.42857143;
  color: #2d82c3;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #05508c;
  border-color: #1362a0;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 9px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 18px;
    color: inherit;
    text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999;
}
h1,
h2,
h3 {
    line-height: 36px;
}
h1 {
    font-size: 33px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 15px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 10.2px;
}
h1 small {
    font-size: 21px;
}
h2 small {
    font-size: 15px;
}
h3 small {
    font-size: 12px;
}
h4 small {
    font-size: 12px;
}
.thumbnails .col-4 > a {
    height: 320px;
}