.hidden{
  display: none;
}
.row{
  margin: 0 -1%;
}
.col-4{
  width: 23%;
  float: left;
  margin: 0 1%;
}
.text-upper{ text-transform: uppercase;}
.mar-20{ margin: 20px 0}
.row-1{ margin-left: -10px}
img{max-width: 100%; vertical-align: middle;}
 a:not(.logo):not(.small-avatar) img{
  min-width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.desktop a:not(.logo):hover > img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.header-top{
  border-bottom: 1px solid white;
  margin: 10px 0 14px;
  display: inline-block;
  width: 100%;
}
.title{
  font-size: 2.4rem;
  color: white;
  text-transform: uppercase;
  line-height: 2.9rem;
  display: inline-block;
  position: relative;
  font-weight: 100;
  vertical-align: middle;
  float: left;
}
header .title + form{ clear: both;}
.title.bold{
  font-weight: bold;
}
.title:before{
  content:"";
  position: absolute;
  bottom: -2px;
  height: 3px;
  width: 100%;
  background: white;
}
.title.smaller{
  font-size: 1.4rem;
}
.others .title{
  font-size: 1.9rem;
  line-height: 2.5rem;
}
.title-primary{
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  background: url('../images/icon-cont.png') no-repeat 0 center;
  padding: 0 0 0 30px;
  border-bottom: 1px solid white;
  display: inline-block;
  margin: 10px 0;
}
.view-more.white{
  color: white!important;
  margin: 0;
}
.view-more.white:before{
  border-top-color: white;
}
#sidebar .view-more.white{
  font-size: 1rem;
  margin-bottom: 2rem;
}
#sidebar .view-more.white:before{
  border-width: 5px 30px 0 30px;
  margin-left: -30px;
}
.view-more{
  color: #05508C;
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  margin: 10px 0 20px;
}
.view-more:hover{
  color: #05508C;
  letter-spacing: 1px
}

.view-more:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 35px 0 35px;
  border-color: #05508C transparent transparent transparent;
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -35px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.view-more:hover:before{
  bottom: -10px;
}
.view-more-2{
    color: white!important;
    vertical-align: middle;
    float: right;
    margin-top: 14px;
    text-transform: uppercase;
    font-size: .9rem;
}
.view-more-2:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent white;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-left: 4px;
}
.view-more-2:hover:after {
  margin-left: 8px;
}
.view-more-4{
  text-decoration: underline;
  padding: 0 10px;
}
.view-more-4:hover{
  text-decoration: none;
  /*color: white;*/
}
.link-trailer{
    color: white!important;
    vertical-align: middle;
    margin-top: 14px;
    text-transform: uppercase;
    font-size: .9rem;
}
.link-trailer:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent white;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-right: 5px;
}
.link-trailer:hover:before {
  margin-right: 10px;
}
.paging{
  overflow: hidden;
  text-align: right;
  padding: 23px 1px;
}
.paging.text-center{
  background: url('../images/line-hor.png') repeat-x;
}
.paging > a,
.paging li{
  display: inline-block;
}
.paging a, .paging span{
  min-width: 1.5rem;
  min-height: 1.5rem;
  padding: 0 4px;
  display: inline-block;
  background-color: #fff;
  background-image: -webkit-linear-gradient(bottom, rgba(0,1,1,.1), rgba(54,54,54,.1) 35%, rgba(95,95,95,.1) 35%, rgba(177,177,177,.1));
  background-image: -moz-linear-gradient(bottom, rgba(0,1,1,.1), rgba(54,54,54,.1) 35%, rgba(95,95,95,.1) 35%, rgba(177,177,177,.1));
  background-image: -o-linear-gradient(bottom, rgba(0,1,1,.1), rgba(54,54,54,.1) 35%, rgba(95,95,95,.1) 35%, rgba(177,177,177,.1));
  background-image: -ms-linear-gradient(bottom, rgba(0,1,1,.1), rgba(54,54,54,.1) 35%, rgba(95,95,95,.1) 35%, rgba(177,177,177,.1));
  background-image: linear-gradient(to top, rgba(0,1,1,.1), rgba(54,54,54,.1) 35%, rgba(95,95,95,.1) 35%, rgba(177,177,177,.1)); 
  vertical-align: middle;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}
.paging ul{ display: inline-block;}
.paging li{
    margin: 0 0 0 3px;
}
.paging li a, .paging li span{
    color: #adadad;
 
    line-height: 1.5rem;
    text-align: center;
    position: relative;
}
.paging li:first-child > *,
.paging li:last-child > *{
    font-size: 0;

}
.paging li:first-child > *:before,
.paging li:last-child > *:before{
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/paging-prev.png') no-repeat center;

  top: 0;
  left: 0;
  z-index: 10;
}
.paging li:last-child > *:before{
  background: url('../images/paging-next.png') no-repeat center center;
}
.paging li:not(.disabled):first-child > *:hover:before{
  background-image: url('../images/paging-act-prev.png')
}
.paging li:not(.disabled):last-child > *:hover:before{
   background-image: url('../images/paging-act-next.png')
}

.paging li:first-child > *{
  border-radius: 3px 0 0 3px;
}
.paging li:last-child > *{
  border-radius: 0 3px 3px 0;

}


.paging li:not(.disabled) > *:hover,.paging li.active > *{
  background:linear-gradient(to top, #ff9600, #ffab06);
  color: white;
}
.paging li.disabled:first-child > *,
.paging li.disabled:last-child > *{
  opacity: 0.7
}
iframe.white, .fb-comments.white iframe{
    background: white;
}
#content > iframe:last-child, #content > .fb-comments:last-child{
  margin-bottom: 20px;
  display: block;
}
.item-social {
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
}
.item-social.line{
  background: url('../images/line-hor.png') repeat-x , url('../images/line-hor.png') repeat-x 0 100%;
  padding: 12px 0;
}
.line-bot{
  background: url('../images/line-hor.png') repeat-x 0 100%;
  padding-bottom: 10px;
}
.item-social>iframe, .item-social>div {
  vertical-align: middle!important;
}
.fb-like{
  margin-right: 25px;
  height: 20px;
  overflow: hidden;
}
/*.fb_iframe_widget{overflow: hidden;}
*/

.google{
  width: 80px
}
.view-number {
  margin-right: 25px;
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
  width: auto;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  color: white;
  text-align: center;
  padding-left: 30px;
  padding-right: 5px;
  border-radius: 3px;
  background: #767676 url('../images/view.png') 5px center no-repeat;
}
.change-color {
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
  width: 68px;
  height: 21px;
  line-height: 21px;
  display: inline-block;
  color: #767676;
  text-align: center;
  padding-left: 24px;
  background: url('../images/btn-change-color.png') no-repeat;
}
.book-now{
  float: right;
  background-color: white;
  color: #fd7f31;
  margin-top: .5rem;
  padding: .7rem 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}
.book-now.btn-block{
    float: none;
  display: block;
  font-size: 2rem;
  text-align: center;
}
